body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-container {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
}

input, select {
  margin-bottom: 1rem;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

button {
  padding: 0.75rem;
  background-color: #00a896;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
#logoutBtn{
  margin-top: 4px;
  padding: 4px 10px;
  background-color: Red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
    font-weight: bold;

          }
button:hover {
  background-color: #028b7e;
}

p {
  text-align: center;
  margin-top: 1rem;
}

a {
  color: #00a896;
  text-decoration: none;
}
